{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Home hero section with welcome message -->
<div class="p-5 mb-4 home-background">
    <div class="container-fluid py-5">
        <div class="home-text-background container col-md-8">
            <h1 class="display-5 fw-bold text-uppercase home-background-text-shadow">Welcome!</h1>
            <p class="fs-4 home-background-text-shadow">Looking to spice up your home? Perhaps a new kettle for
                the kitchen, or a towel set for the bathroom? We have everything you need right here!</p>
            <a href="{% url 'products' %}" class="btn btn-primary btn-lg text-uppercase mt-1">Shop Now</a>
        </div>
    </div>
</div>

<!-- Categories container -->
<div class="container">
    <div class="row row-cols-1 row-cols-lg-2">
        <!-- Shop Kitchen category -->
        <div class="col mb-4">
            <a href="{% url 'products' %}?category=cooking,kettles,cutlery">
                <div class="category-box">
                    <div class="category-image kitchen-category"></div>
                    <div class="btn btn-lg btn-primary category-button">Shop Kitchen</div>
                </div>
            </a>
        </div>
        <!-- Shop Living Room category -->
        <div class="col mb-4">
            <a href="{% url 'products' %}?category=chairs,televisions,tables">
                <div class="category-box">
                    <div class="category-image living-room-category"></div>
                    <div class="btn btn-lg btn-primary category-button">Shop Living Room</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2">
        <!-- Shop Bedroom category -->
        <div class="col mb-4">
            <a href="{% url 'products' %}?category=sheets,wardrobes,pillows">
                <div class="category-box">
                    <div class="category-image bedroom-category"></div>
                    <div class="btn btn-lg btn-primary category-button">Shop Bedroom</div>
                </div>
            </a>
        </div>
        <!-- Shop Bathroom category -->
        <div class="col mb-4">
            <a href="{% url 'products' %}?category=towels,mirrors,accessories">
                <div class="category-box">
                    <div class="category-image bathroom-category"></div>
                    <div class="btn btn-lg btn-primary category-button">Shop Bathroom</div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
