{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- Checkout container -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mb-4 mt-4 heading-2">Checkout</h1>
            <hr>
        </div>
    </div>

    <!-- Order summary -->
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted">Order Summary ({{ product_count }})</p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-3 text-end">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>