/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* General styling */

body {
    font-family: 'Outfit', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

h1,
.heading-1 {
    font-size: 2.4rem;
}

h2,
.heading-2 {
    font-size: 2rem;
}

h3,
.heading-3 {
    font-size: 1.75rem;
}

h4,
.heading-4 {
    font-size: 1.5rem;
}

h5,
.heading-5 {
    font-size: 1.25rem;
}

h6,
.heading-6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.page-heading {
    margin-top: 1.3rem !important;
    margin-bottom: 1.5rem !important;
    text-transform: uppercase;
}

/* Logo */

.logo {
    width: 11rem;
    height: auto;
}

#logo-small {
    width: 7rem;
    height: auto;
    margin-left: 0.25rem;
    margin-right: 0;
}

/* Navigation */

.dropdown-menu {
    --bs-dropdown-link-active-color: #000;
    --bs-dropdown-link-active-bg: #fff;
    --bs-dropdown-link-disabled-color: #000;
    --bs-dropdown-border-radius: 0;
}

#main-nav {
    background-color: #415A77;
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #d5d5d5;
    --bs-navbar-active-color: #d5d5d5;
}

.search-bar {
    color: #000;
    border: 1px solid #0D1B2A;
    height: 40px;
    padding: 10px 12px;
    border-radius: 0px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: box-shadow 150ms ease;
    font-size: 0.9rem;
}

.search-bar:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #0D1B2A;
}

.navbar {
    --bs-navbar-padding-y: 0rem;
}

#free-delivery-banner {
    background-color: #0D1B2A;
    color: #fff;
}

@media (max-width: 991px) {
    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding-left: 0.5rem;
        font-size: 1.1rem;
        border: none;
    }

    #mobile-top-header {
        font-size: 0.8rem !important;
        justify-content: center;
        text-align: center;
    }

    #mobile-top-header .list-inline-item {
        display: flex;
        align-items: center;
    }

    #mobile-top-header .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    #mobile-top-header .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    ul {
        padding-left: 0.2rem;
        margin-bottom: 0.4rem;
        margin-top: 0.5rem;
    }
}


/* Home Page */

.home-background {
    background: url(../../media/homemainimagenew.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.home-text-background {
    background-color: rgba(65, 90, 119, 0.8);
    border-radius: 1rem;
    padding: 1rem 1.3rem;
}

.category-box {
    position: relative;
}

.category-image {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #dee2e6;
}

.kitchen-category {
    background-image: url(../../media/homekitchenimagenew.webp);
}

.living-room-category {
    background-image: url(../../media/homelivingroomimagenew.webp);
}

.bedroom-category {
    background-image: url(../../media/homebedroomimagenew.webp);
}

.bathroom-category {
    background-image: url(../../media/homebathroomimagenew.webp);
}

.category-button {
    position: absolute;
    bottom: 1.8rem;
    left: 2rem;
    width: 50%;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.category-box:hover .category-button {
    background-color: #0D1B2A;
    color: white;
}


/* Buttons */

.btn-primary {
    --bs-btn-bg: #0D1B2A;
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: #070f17;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: #070f17;
}


.btn-outline-primary {
    --bs-btn-color: #0D1B2A;
    --bs-btn-border-color: #0D1B2A;
    --bs-btn-hover-bg: #0D1B2A;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: #0D1B2A;
    --bs-btn-active-border-color: #0D1B2A;
}

/* Back to top buttons */

.to-top-button {
    height: 42px;
    width: 120px;
    position: fixed;
    bottom: 12px;
    right: 12px;
}

.btt-link {
    text-decoration: none;
    color: #fff;
}