/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* General styling */

body {
    font-family: 'Outfit', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

h1,
.heading-1 {
    font-size: 2.4rem;
}

h2,
.heading-2 {
    font-size: 2rem;
}

h3,
.heading-3 {
    font-size: 1.75rem;
}

h4,
.heading-4 {
    font-size: 1.5rem;
}

h5,
.heading-5 {
    font-size: 1.25rem;
}

h6,
.heading-6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.page-heading {
    margin-top: 1.3rem !important;
    margin-bottom: 1.5rem !important;
    text-transform: uppercase;
}

/* Logo */

.logo {
    width: 15rem;
    height: auto;
}

#logo-small {
    width: 7rem;
    height: auto;
    margin-left: 0.25rem;
    margin-right: 0;
}

/* Navigation */

.dropdown-menu {
    --bs-dropdown-link-active-color: #000;
    --bs-dropdown-link-active-bg: #fff;
    --bs-dropdown-link-disabled-color: #000;
    --bs-dropdown-border-radius: 0;
}

#main-nav {
    background-color: #415A77;
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #d5d5d5;
    --bs-navbar-active-color: #d5d5d5;
}

.search-bar {
    color: #000;
    border: 1px solid #0D1B2A;
    height: 40px;
    padding: 10px 12px;
    border-radius: 0px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: box-shadow 150ms ease;
    font-size: 0.9rem;
}

.search-bar:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #0D1B2A;
}

.navbar {
    --bs-navbar-padding-y: 0rem;
}

#free-delivery-banner {
    background-color: #0D1B2A;
    color: #fff;
}


/* Home Page */

.home-background {
    background: url(../../media/homemainimagenew.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.home-text-background {
    background-color: rgba(65, 90, 119, 0.8);
    border-radius: 1rem;
    padding: 1rem 1.3rem;
}