<!-- Footer container -->
<footer class="container-fluid footer mt-4">
    <div class="row text-center pt-4 pb-4">
        <!-- Quick Links -->
        <div class="col-12 col-md-4">
            <p class="footer-heading mt-md-0 mt-2">Quick Links</p>
            <div class="d-flex justify-content-center">
                <hr class="hr-footer">
            </div>
            <a class="footer-quick-link" href="{% url 'products' %}">All Products</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=cooking,kettles,cutlery">Kitchen</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=chairs,televisions,tables">Living Room</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=sheets,wardrobes,pillows">Bedroom</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=towels,mirrors,accessories">Bathroom</a>
        </div>
        <!-- Contact details -->
        <div class="col-12 col-md-4">
            <p class="footer-heading mt-md-0 mt-4">Contact Us</p>
            <div class="d-flex justify-content-center">
                <hr class="hr-footer">
            </div>
            <p><i class="fa-solid fa-location-dot"></i> Unit 12, West Park
                <br>
                Birmingham
                <br>
                B50 2PE </p>
                <a href="tel:01792599174" class="footer-tel"><p><i class="fa-solid fa-phone"></i> 01440 599740</p></a>
            <a class="footer-email" href="mailto:thehomenestteam@gmail.com"><i class="fa-solid fa-envelope"></i>
                thehomenestteam@gmail.com</a>
        </div>