<!-- Footer container -->
<footer class="container-fluid footer mt-4">
    <div class="row text-center pt-4 pb-4">
        <!-- Quick Links -->
        <div class="col-12 col-md-4">
            <p class="footer-heading mt-md-0 mt-2">Quick Links</p>
            <div class="d-flex justify-content-center">
                <hr class="hr-footer">
            </div>
            <a class="footer-quick-link" href="{% url 'products' %}">All Products</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=cooking,kettles,cutlery">Kitchen</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=chairs,televisions,tables">Living Room</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=sheets,wardrobes,pillows">Bedroom</a>
            <br>
            <a class="footer-quick-link" href="{% url 'products' %}?category=towels,mirrors,accessories">Bathroom</a>
        </div>