<!-- Main navigation -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link mr-5 ms-2 mb-1" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5 ms-2 mb-1" href="#" id="all-products-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5 ms-2 mb-1" href="#" id="kitchen-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Kitchen
            </a>
            <div class="dropdown-menu" aria-labelledby="kitchen-link">
                <a href="{% url 'products' %}?category=cooking" class="dropdown-item">Cooking</a>
                <a href="{% url 'products' %}?category=kettles" class="dropdown-item">Kettles</a>
                <a href="{% url 'products' %}?category=cutlery" class="dropdown-item">Cutlery</a>
                <a href="{% url 'products' %}?category=cooking,kettles,cutlery" class="dropdown-item">Shop full range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5 ms-2 mb-1" href="#" id="living-room-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Living Room
            </a>
            <div class="dropdown-menu" aria-labelledby="living-room-link">
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">Chairs</a>
                <a href="{% url 'products' %}?category=televisions" class="dropdown-item">Televisions</a>
                <a href="{% url 'products' %}?category=tables" class="dropdown-item" class="dropdown-item">Tables</a>
                <a href="{% url 'products' %}?category=chairs,televisions,tables" class="dropdown-item" class="dropdown-item">Shop full
                    range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5 ms-2 mb-1" href="#" id="bedroom-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Bedroom
            </a>
            <div class="dropdown-menu" aria-labelledby="bedroom-link">
                <a href="{% url 'products' %}?category=sheets" class="dropdown-item" class="dropdown-item">Sheets</a>
                <a href="{% url 'products' %}?category=wardrobes" class="dropdown-item" class="dropdown-item">Wardrobes</a>
                <a href="{% url 'products' %}?category=pillows" class="dropdown-item" class="dropdown-item">Pillows</a>
                <a href="{% url 'products' %}?category=sheets,wardrobes,pillows" class="dropdown-item">Shop full
                    range</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-5 ms-2 mb-1" href="#" id="bathroom-link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Bathroom
            </a>
            <div class="dropdown-menu" aria-labelledby="bathroom-link">
                <a href="">Towels</a>
                <a href="" class="dropdown-item">Mirrors</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">Shop full
                    range</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link ms-2 mb-1" href="">Contact</a>
        </li>
    </ul>
</div>