<!-- Top header on small and medium devices -->
<div class="list-inline-item d-lg-none">
        <!-- Logo -->
        <a href="{% url 'home' %}">
            <img src="{{ MEDIA_URL }}homenestlogo.png" alt="HomeNest Logo" id="logo-small">
        </a>
    </div>
    <ul class="d-block d-lg-none me-2" id="mobile-top-header">
        <li class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex">
                            <!-- Search button with search bar in dropdown -->
            <div class="list-inline-item ms-1">
                <a class="nav-link" href="#" id="mobile-search" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <div class="text-center">
                        <i class="fas fa-search fa-lg"></i>
                        <div class="my-0">Search</div>
                    </div>
                </a>
                <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                    <form class="form" method="GET" action="{% url 'product' %}">
                        <div class="input-group w-100">
                            <input class="form-control extra-form-label-styling" type="text" name="q"
                                placeholder="Search our site" aria-label="Search bar">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black rounded-0" type="submit" aria-label="Submit search">
                                    <span class="icon" aria-hidden="true">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
             <!-- My account button with dropdown options -->
             <div class="list-inline-item ms-1">
                <a class="nav-link" href="#" id="user-mobile-options" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <div class="text-center">
                        <i class="fas fa-user fa-lg"></i>
                        <div class="my-0">My Account</div>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-mobile-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item">Add New Product</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </div>
             <!-- Shopping bag -->
             <div class="list-inline-item ms-1">
                <a class="nav-link" href="">
                    <div class="text-center">
                        <i class="fas fa-shopping-bag fa-lg"></i>
                        <div class="my-0">
                            {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                            {% else %}
                            £0.00
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </li>
</ul>