{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Products container -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center page-heading">Products</h1>
    </div>
  </div>
  <!-- Categories header -->
  <div class="row mb-3">
    <div class="col text-center">
      {% for c in current_categories %}
      <a type="button" class="btn btn-sm btn-outline-primary"
        href="{% url 'products' %}?category={{ c.name }}">{{ c.friendly_name }}</a>
      {% endfor %}
    </div>
  </div>

  {% endblock %}