{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<!-- Product detail container -->
<div class="container">
    <div class="row">
        <!-- Product image -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
         <!-- Product details -->
         <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <!-- Product name -->
                <h1 class="mb-0 heading-3">{{ product.name }}</h1>
                <!-- Product price -->
                <p class="mb-3 heading-5">£{{ product.price }}</p>
                <!-- Product category -->
                <p class="mb-3">
                    {% if product.category %}
                    <span class="mt-1">
                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="product-detail-category">
                            {% if product.category.name|in_category:"cooking,kettles,cutlery" %}
                            <i class="fa-solid fa-utensils me-1 category-icon"></i>{{ product.category.friendly_name }}
                            {% elif product.category.name|in_category:"chairs,televisions,tables" %}
                            <i class="fa-solid fa-couch me-1 category-icon"></i>{{ product.category.friendly_name }}
                            {% elif product.category.name|in_category:"sheets,wardrobes,pillows" %}
                            <i class="fa-solid fa-bed me-1 category-icon"></i>{{ product.category.friendly_name }}
                            {% elif product.category.name|in_category:"towels,mirrors,accessories" %}
                            <i class="fa-solid fa-bath me-1 category-icon"></i>{{ product.category.friendly_name }}
                            {% endif %}
                        </a>
                    </span>
                    {% endif %}
                </p>
                 <!-- Product rating -->
                 {% if product.rating > 0 %}
                 <p><i class="fas fa-star me-1 rating-star"></i>{{ product.rating }} / 5</p>
                 {% else %}
                 <p>No Rating</p>
                 {% endif %}
                 <!-- Product description -->
                 <p class="mt-3">{{ product.description }}</p>
                  <!-- Add to bag -->
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <!-- Product quantity -->
                        <div class="col-12">
                            <p class="mt-3"><strong><label for="qty-input">Quantity:</label></strong></p>
                            <div class="w-50">
                                <div class="input-group input-group-{{ product.id }}">
                                     <!-- Decrement quantity -->
                                     <div class="input-group-text">
                                        <button
                                            class="decrement-qty btn btn-primary rounded-0 decrement-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}" aria-label="Decrement quantity">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- Quantity -->
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="qty-input">
                                    <!-- Increment quantity -->
                                    <div class="input-group-text">
                                        <button
                                            class="increment-qty btn btn-primary rounded-0 increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}" aria-label="Increment quantity">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-primary mt-5">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-primary text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}